@charset "UTF-8";
/* CSS Document */

p {
	line-height: 24px;
}
li {
	line-height: 26px;
	margin-top: -3px;
}
h1 {
	font-size: 34px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding-bottom: 5px;
	padding-right: 9px;
	margin-top: 24px;
	margin-left: -6px;
	font-weight: bolder;
	padding-top: 3px;
	margin-bottom: 40px;
}
h2 {
	color: #000;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 26px;
}
h3 {
	padding-bottom: -4px;
	padding-top: 0px;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
}
h4 {
	padding-top: -3px;
	margin-bottom: -5px;
	font-size: 18px;
	font-weight: normal;
	color: #000;
}
h5 {
	color: rgb(0, 108, 214);
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	text-transform: none;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: "Lucida Grande", Arial, "Times New Roman";
	font-size: 16px;
	font-weight: lighter;
}

a {
	color: #F30;
	font-style: normal;
	text-decoration: none;
}
a:hover {
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}
#container a {
	color: rgb(43, 46, 53);
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding-bottom: 4px;
}
#container a:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 102, 255);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#container {
	width: 800px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	min-height:100%;
	height: auto;
	background-color: #FFF;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom:24px;

}
pre {
	font-family: "Courier New", Courier, monospace;
	background-color: #EDEDED;
	padding: 8px;
	border: 1px dashed #666;
	font-size: 14px;
}
.warning {
	color:#F00;
	font-weight: bold;
}
.warninglite {
	color:#F00;
}
.greenlight {
	color:#090;
}
.note {
	padding: 3px;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
	margin-left: 5px;
	background-color: #FFFFE9;
	border: 1px solid #DCDCDC;
}
#footer {
	width:800px;
	margin:10px auto 20px auto;
}
