@charset "UTF-8";
/* CSS Document */

/* Register for BIF-8 Banner */

#bif8-register a, #bif8-watch-live a {
	position: absolute;
	width: 360px;
	height: 50px;
	font-size: 18px;
	display: block;
	text-align: center;
	text-decoration: none;
	border: 0 !important;
	line-height: 50px;
	background-color: #ee3124;
	color: #fff;
	font-weight: bold;
	z-index: 100;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	text-shadow: 0 1px 0 #000;
	text-transform: uppercase;
	outline: 0;
	right: 250px;
	top: 300px;
}
#bif8-register a:hover, #bif8-watch-live a:hover {
	background-color: #D82D21 !important;
}
/* General Styles */

body {
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	background-image: url(http://academy.kaziunas.com/images/Labs_BG.gif);
	background-repeat: repeat;
}
p {
	line-height: 24px;
}
li {
	line-height: 28px;
}
h1 {
	font-size: 25px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-bottom-style: none;
	font-style: italic;
	border-right-style: none;
	border-left-style: none;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	color: #FFF;
	padding-bottom: 5px;
	padding-right: 9px;
	margin-top: 40px;
	margin-left: -6px;
	font-weight: 100;
	padding-top: 3px;
	margin-bottom: 40px;
}
h2 {
	color: #000;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 26px;
	margin-right: 16px;
	margin-left: 5px;
}
h3 {
	padding-bottom: -4px;
	padding-top: 0px;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
}
h4 {
	padding-top: -3px;
	margin-bottom: -5px;
	font-size: 18px;
	font-weight: normal;
	color: #000;
}
#page {
	text-align: left;
	width: 100%;
	margin-top: -13px;
}
#container {
	width: 970px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	min-height:100%;
	height: auto;
}
#homeLink {
	margin: 0px;
	padding: 0px;
	height: 93px;
	width: 970px;
	z-index: 2;
	position: absolute;
}
#header {
	float: left;
	background-image: url(../images/Fab_Academy_at_AS220_Labs_Providence.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	height: 130px;
	width: 970px;
}
#main {
	float: left;
	background-color: #FFF;
	padding-left: 6px;
	width: 962px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #333;
	border-left-color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}
#mainArea {
	float: left;
	background-color: #FFF;
	padding-left: 6px;
	width: 962px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #333;
	border-left-color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	margin-top: 5px;
}
#nav {
	float: left;
	width: 970px;
	margin-top: 96px;
	color: #999;
	margin-bottom: 6px;
	font-size: 18px;
}
#nav a {
	text-decoration: none;
	color: #000;
	font-weight: bolder;
	font-style: italic;
	padding-right: 15px;
	padding-left: 14px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
#nav a:hover {
	text-decoration: none;
	color: #F30;
	font-weight: bolder;
	font-style: italic;
}
.content {
	width:940px;
	margin-left: 12px;
	float: left;
}
.cleftNoWidth {
	float:left;
	width: 62px;
}
.cleft {
	float:left;
	width: 355px;
}
.cright {
	float:right;
	width: 558px;
	padding-right: 15px;
}
#content {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}
#content a {
	color: #F30;
	font-style: normal;
	text-decoration: none;
}
#mainArea a {
	color: #F30;
	font-style: normal;
	text-decoration: none;
	font-weight: 500;
}
#mainArea a:hover {
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}
#content a:hover {
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}
#slideshow {
	height: 550px;
	float: left;
	padding-left: 2px;
	overflow: hidden;
}
#slideshow_new {
	height: 610px;
	float: left;
	padding-left: 2px;
}
#footer {
	float: left;
	height:90px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: center;
	font-size: 14px;
	font-style: italic;
	color: #000;
	padding: 0px;
	width: 970px;
}
#footer a {
	text-decoration: none;
	color: #000;
	font-weight: bolder;
	font-style: italic;
	font-size: 14px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.labsleft {
	float:left;
	width: 275px;
	font-size: 16px;
}
.labsright {
	float:right;
	width: 275px;
	font-size: 17px;
}
.classof {
	width:720px;
	float:right;
}
.classContianer {
	width:957px;
	float: left;
}
img {
	padding: 0px;
	margin: 0px;
}
#twentyeleven {
}
#twentyeleven a {
	width:214px;
	float: left;
	height: 253px;
	background-image: url(http://academy.kaziunas.com/images/2011_student_work.png);
	color: #FFF;
	font-size: 9px;
}
#twentyeleven a:hover {
	color: #FFF;
	width:214px;
	background-image: url(http://academy.kaziunas.com/images/2011_student_work_roll.png);
	height: 253px;
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#twentyten {
}
#twentyten a {
	width:214px;
	background-image: url(http://academy.kaziunas.com/images/2010_student_work.png);
	height: 253px;
	float: left;
	color: #FFF;
	font-size: 9px;
}
#twentyten a:hover {
	width:214px;
	background-image: url(http://academy.kaziunas.com/images/2010_student_work_roll.png);
	height: 253px;
	background-repeat: no-repeat;
	color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.credits {
	font-size: 12px;
	font-style: italic;
	color: #333;
}
#spacer {
	width: 200px;
}
.leftnav {
	float:left;
	width: 530px;
}
.rightnav {
	float:right;
	width: 375px;
}
.schedulehead {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	font-size: 16.5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.scheduleheadSyllabus {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: #200081;
	font-size: 21px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #306;
}
.anchor {
	width:4px;
}
ul {
	margin-top: -7px;
}
/* Tutorials Styles */
.note {
	padding: 3px;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
	margin-left: 5px;
	background-color: #FFFFE9;
	border: 1px solid #DCDCDC;
}
#mainAreaTutorials {
	float: left;
	background-color: #FFF;
	padding-left: 6px;
	width: 962px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #333;
	border-left-color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	line-height: 1.3em;
}
#mainAreaTutorials img {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #333;
	border-left-color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
}
#sidebar {
	color: rgb(0, 0, 0);
	height: auto;
	font-size: 14px;
	border-left-style: dotted;
	border-left-color: #000;
	float: right;
	width: 276px;
	margin-top: 15px;
	padding-top: 7px;
	padding-right: 6px;
	padding-bottom: 7px;
	margin-right: 5px;
	border-left-width: 1px;
}
#sidebar li {
	margin-bottom: 10px;
	margin-top: -3px;
}
#sidebar ul {
	margin-left: -4px;
	list-style-image: url("http://www.kaziunas.com/images/bulletblue.gif");
	margin-top: 0px;
}
#sidebar ol {
	list-style-image: none;
	list-style-type: square;
	margin-left: -20px;
	margin-top: 11px;
}
.tutorials {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: rgb(0, 0, 0);
	margin-left: 13px;
	margin-right: 5px;
	font-size: 14px;
}
.tutorials_home {
	color: rgb(0, 0, 0);
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(0, 0, 0);
}
#mainAreaTutorials h1 {
	padding-right: 0px;
	clear: both;
	margin-top: 10px;
	margin-right: 0pt;
	margin-bottom: 24px;
	margin-left: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	font-style: normal;
	line-height: 16px;
	font-weight: 700;
	font-variant: normal;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: rgb(0, 153, 255);
	padding-bottom: 5px;
	padding-left: 3px;
	background-color: #FFF;
	color: #000;
	text-align: left;
}
#mainAreaTutorials h2 {
	padding-top: 18px;
	padding-right: 0px;
	padding-bottom: 5px;
	clear: both;
	margin-bottom: 7px;
	font-size: 17pt;
	font-weight: bolder;
	color: #333;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 0px;
}
#mainAreaTutorials h2 a {
	color: rgb(255, 102, 102);
}
#mainAreaTutorials h3 {
	font-size: 15pt;
	clear: both;
	color: rgb(51, 51, 51);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 11px;
	padding-top: 5px;
	font-style: normal;
}
#mainAreaTutorials h5 {
	color: rgb(0, 108, 214);
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	text-transform: none;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: "Lucida Grande", Arial, "Times New Roman";
	font-size: 16px;
	font-weight: lighter;
}
#mainAreaTutorials h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: rgb(0, 108, 214);
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.tutorials {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: rgb(0, 0, 0);
	margin-left: 13px;
	margin-right: 5px;
	padding-bottom: 1px;
	padding-top: 6px;
	margin-bottom: 8px;
}
.tutorials_home {
	color: rgb(0, 0, 0);
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(0, 0, 0);
	margin-left: 15px;
	margin-top: 26px;
	font-size: 18pt;
	margin-bottom: 16px;
}
.warning {
	color:#F00;
	font-weight: bold;
}
.hgwarning {
	color:#F00;
	font-weight: bold;
	float: right;
	width:560px;
	padding-top: 25px;
}
.warninglite {
	color:#F00;
}
.greenlight {
	color:#090;
}
pre {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.85em;
	background-color: #F4F4F4;
	border: 1px dotted #999;
	padding: 2px;
}
#mainAreaTutorials .left {
	float: left;
	width: 635px;
	padding-left: 7px;
}
#mainAreaTutorials a {
	color: rgb(43, 46, 53);
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding-bottom: 4px;
}
#mainAreaTutorials a:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 102, 255);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.right {
	float: right;
	padding-left: 10px;
	height: 70px;
	padding-top: 16px;
	text-align: right;
	width: 260px;
}
/* Tutorials Index */

#mainAreaHomeTutorials {
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	width: 962px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1.3em;
	color: rgb(102, 102, 102);
	padding-left: 6px;
	padding-right: 0px;
	padding-bottom: 20px;
	clear: both;
	margin-top: 10px;
	margin-right: 0pt;
	margin-bottom: 15px;
	margin-left: 0pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(51, 51, 51);
	border-right-color: rgb(51, 51, 51);
	border-bottom-color: rgb(51, 51, 51);
	border-left-color: rgb(51, 51, 51);
}
#mainAreaHomeTutorials a {
	color: rgb(43, 46, 53);
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding-bottom: 4px;
}
#mainAreaHomeTutorials a:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 102, 255);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainAreaHomeTutorials h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	padding-left: 10px;
	letter-spacing: 0.3em;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainAreaHomeTutorials .left {
	float: left;
	width: 700px;
}
#tutorials_home {
	color: rgb(0, 0, 0);
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(0, 0, 0);
	margin-left: 15px;
	margin-top: 26px;
	font-size: 18pt;
}
#mainAreaHomeTutorials ul li {
	padding-bottom: 4px;
	list-style-type: none;
	font-size: 25px;
	margin-left: -18px;
	padding-top: 4px;
}
.blue {
	color: #000;
	font-weight: bold;
}
.crightISP {
	float: right;
	width: 380px;
}
.cleftISP {
	float: left;
	width: 230px;
	padding-left: 10px;
}
.pageWidth {
	width: 633px;
	float: left;
	margin-bottom: 20px;
}
